NEXT_PUBLIC_TS_USERNAME='YOUR_USERNAME'
NEXT_PUBLIC_TS_PASSWORD='YOUR_PASSWORD'
NEXT_PUBLIC_TS_HOST='YOUR_HOST'
NEXT_PUBLIC_TS_LIVEBOARD_ID='YOUR_LIVEBOARD_ID'
NEXT_PUBLIC_TS_VIZ_ID='YOUR_VIZ_ID'
NEXT_PUBLIC_TS_WORKSHEET_ID='YOUR_WORKSHEET_ID'
